<footer>
  <p>© 2012-2016, Tinkertanker Pte Ltd</p>
  <p><span class="fa fa-map-marker"></span> 5 Pereira Road #04-03, Asiawide Industrial Building, S368025. Singapore!</p>
  <p id="last">
    <a href="tel:+65-31256257">+65 3125 6257</a>
    |
    <a href="mailto:hello@tinkertanker.com">hello@tinkertanker.com</a>
    | UEN: 201200143H
  </p>
</footer>
