<div id='slack'>
  <p id='slack-comd'><span></span></p>
  <ul id='slack-msg-list'>
    <li class='slack-msg' id='boss-msg' style='display: none;'>
      <img class='slack-msg-avatar' src='./images/logo.png' alt=''>
      <div class='slack-msg-text'>
        <p class='title'>aagenda<i>2.35PM</i></p>
        <p class='msg'>'Make Todo app for slack' assigned to <span style='color: #1673db;'>@intern</span> by <span style='color: #1673db;'>@boss</span></p>
      </div>
    </li>
    <li class='slack-msg'>
      <img class='slack-msg-avatar' src='./images/neil.jpg' alt=''>
      <div class='slack-msg-text'>
        <p class='title'>secretary<i>2.00PM</i></p>
        <p class='msg'><span style='color: #1673db;'>@boss</span>, Got some new interns...</p>
        <p class='title' id='boss_type' style='display: none;'><i>boss is typing</i></p>
      </div>
    </li>
  </ul>
</div>
