<!DOCTYPE html>
<html>
<head>
  <title>Documentation | Aagenda</title>
  <%- partial("./_head.ejs") %>
  <link rel='stylesheet' type='text/css' href='/stylesheets/docs.css'>
  <script src='https://code.jquery.com/jquery-2.2.1.js' charset='utf-8'></script>
  <script src="/javascript/toc.js" charset="utf-8"></script>
</head>

<body>

  <aside>
    <a href="/"><img id="hero-logo" src="/images/logo.png"></a>
    <h1 id="title">aagenda</h1>
    <a id='add-to-slack' class="fat-button" href="https://slack.com/oauth/authorize?scope=commands&client_id=2171935826.24060453488">Add to Slack</a>
    <ol id="toc" type="decimal"></ol>
  </aside>

  <main>
    <%- partial("/partials/_docs") %>
  </main>

</body>
</html>
