<!DOCTYPE html>
<html>
<head>
  <title>Failure | Aagenda</title>
  <%- partial("./_head.ejs") %>
  <link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
  <script src='https://code.jquery.com/jquery-2.2.1.js' charset='utf-8'></script>
  <script src="/javascript/params.js" charset="utf-8"></script>
</head>

<body>
  <section id='hero'>
    <a href="/"><img id="hero-logo" src="../images/logo-error.jpg"></a>
    <h1>aagenda</h1>
    <h2 class="error">Failure</h2>
    <h3 id="error-msg"></h3>
    <h3 id="try">Would You like to try again?</h3>
    <a id='add-to-slack' class="fat-button" href="https://slack.com/oauth/authorize?scope=commands&client_id=2171935826.24060453488">Add to Slack</a>
  </section>
  <%- partial("partials/_footer") %>
</body>
</html>
