<!DOCTYPE html>
<html>
<head>
  <title>Success | Aagenda</title>
  <%- partial("./_head.ejs") %>
  <link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>
  <script src='https://code.jquery.com/jquery-2.2.1.js' charset='utf-8'></script>
</head>

<body>
  <section id='hero'>
    <a href="/"><img id="hero-logo" src="../images/logo-heart.jpg"></a>
    <h1>aagenda</h1>
    <h2 class="success">Congratulations! </h2>
    <h3> Welcome on board the a-team. <br />Now, get back to work and arrow them interns</h3>
    <a id='go-to-docs' class="fat-button" href="/docs">Show 'em docs</a>
    <h3>**fun fact: aagenda improves your "a" game by 1</h3>
  </section>
  <%- partial("partials/_footer") %>
</body>
</html>
