@import './utils/reset';
@import './base/docs_type';

$section-bg: #FFF;
$sidebar-bg: #F3F3F3;
$font-color: #FFF;
$font-color-dark: #222;
$slack-font-color: #000;
$slack-cmd-font-color: #A93030;
$slack-cmd2-font-color: #a262a9;
$slack-background-color-hover: #EEE;
$btn-background-color: #A93030;
$btn-background-color-alt: #EEE;

body {
  display: flex;
  flex-flow: wrap row;
}

main {
  text-align: justify;
  text-justify: inter-word;
  width: 70vw;
  padding: 0 50px;
  height: 100vh;
  overflow-y: scroll;
  @media(max-width: 800px) {
    height: unset;
    padding: 0 10px;
    width: 100vw;
  }
}

article {
  padding: 30px 0;
}

aside {
  padding-top: 20px;
  display: flex;
  background-color: $sidebar-bg;
  border-right: 1px solid darken($sidebar-bg, 7);
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  flex-flow: wrap column;
  width: 30vw;
  max-width: 300px;
  height: 100vh;
  overflow-y: scroll;
  @media(max-width: 800px) {
    background: $section-bg;
    padding: 20px;
    height: unset;
    flex-flow: wrap row;
    width: 100vw;
    justify-content: space-between;

    h1 {
      font-size: 30px;
      margin: 0;
    }
    h2 {
      display: none;
    }
  }
}

#toc {
  margin-top: 30px;
  width: 100%;
  @media(max-width: 800px) {
    display: none;
  }
  li {
    line-height: 50px;
    background: lighten($sidebar-bg, 10);
    margin: 0;
    border-top: 1px solid darken($sidebar-bg, 10);
    :last-child{
      border-bottom: 1px solid darken($sidebar-bg, 10);
    }
  }
}

#hero-logo {
  width: 100px;
  height: 100px;
  @media(max-width: 800px) {
    width: 50px;
    height: 50px;
    margin: 0;
  }
}

#button {
  height: 100px;
}

.fat-button {
  font-weight: 400;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding: 8px;
  font-size: 20px;
}

#add-to-slack {
  color: $font-color;
  background-color: $btn-background-color;
  border-bottom: 6px solid darken($btn-background-color, 30);
  margin-top: 3px;

  &:hover {
    background-color: darken($btn-background-color, 10);
    border-bottom: 3px solid darken($btn-background-color, 30);
    margin-top: 6px;
  }

  &:active,
  &:focus {
    background-color: darken($btn-background-color, 15);
    border-bottom: 1px solid darken($btn-background-color, 30);
    margin-top: 8px;
  }
}
