@import url(https://fonts.googleapis.com/css?family=Lato:400,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,600);

$base-font-color: #444;

a,
p,
li,
h1,
h2,
h3 {
  color: $base-font-color;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

h1 {
  margin-bottom: 10px;
  font-size: 50px;
  &#title {
    font-weight: 500;
    font-size: 35px;
  }
}

h2 {
  font-size: 30px;
  line-height: normal;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 30px 0 0 0;
  color: lighten($base-font-color, 10);
}

p,
li {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  color: lighten($base-font-color, 20);
  margin: 10px 0;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background: #faf8f0;
  padding: 10px;
  border-radius: 7px;

  overflow: auto;
  code {
    font-family: 'Source Code Pro', Courier, monospace;
    background: none;
    border: none;
    padding: 4px;
  }
}

code {
  font-family: 'Source Code Pro', Courier, monospace;
  font-size: 15px;
  background-color: #eee;
  border-radius: 5px;
  padding: 1px 6px 4px;
}
